html{
    font-size: 16px;
    box-sizing: content-box;
}

/*Header*/
header{
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header .logo{
    display: inline-flex;
    font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.5rem;
}

header img{
    height: 3rem;
}

header .colmar{
    font-weight: 650;
    color: #4A4A4A;
}

header .academy{
    color:#9B9B9B;
}

header .nav{
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;
    
}

/*Banner*/
.banner{
    background-color: #D8D8D8;
    font-family: "Montserrat", sans-serif;
    color: #4A4A4A;
    display: flex;
    flex-direction: row;
}

.banner h2{
    font-size: 2rem;
    margin: 0;
}

.banner h3{
    font-weight: normal;
    margin: 0;
}

.banner img{
    width: 60%;
    margin: 2rem 1.5rem;
}

.banner .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    gap: 1.75rem;
    padding-right: 2rem;
}

.banner .button{
    background-color: #4A4A4A;
    color: white;
    text-align: center;
    padding: 0.5rem auto;
    margin: 0.5rem 0 0 0;
    /*width: 90%;*/
}