html{
    font-size: 16px;
    box-sizing: border-box;
    color: #4A4A4A;
    font-family: Montserrat, sans-serif;
}

/*Header*/
header{
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header .logo{
    display: inline-flex;
    font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.5rem;
}

header img{
    height: 3rem;
}

header .colmar{
    font-weight: 650;
    color: #4A4A4A;
}

header .academy{
    color:#9B9B9B;
}

header .nav{
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;
    
}

/*Banner*/
.banner{
    background-color: #D8D8D8;
    font-family: "Montserrat", sans-serif;
    color: #4A4A4A;
    display: flex;
    flex-direction: row;
}

.banner h2{
    font-size: 2rem;
    margin: 0;
}

.banner h3{
    font-weight: normal;
    margin: 0;
}

.banner img{
    width: 60%;
    margin: 2rem 1.5rem;
}

.banner .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    gap: 1.75rem;
    padding-right: 2rem;
}

.banner .button{
    background-color: #4A4A4A;
    color: white;
    text-align: center;
    padding: 0.5rem auto;
    margin: 0.5rem 0 0 0;
    /*width: 90%;*/
}

/*Posts*/
.post{
    display: flex;
    font-family: Montserrat, sans-serif;
    align-items: flex-start;
}

.post1{
    width: 60%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.post1 h2{
    font-size: 1.75rem;
    margin: 0 auto 1.5rem 0;
}

.post1 p{
    margin-top: 0;
    color: #4E4E4E;
    font-weight: 200;
    font-size: 0.875rem;
}

.post1:hover{
    background-color: #D8D8D8;
}

#post1{
    width: 100%;
    margin-bottom: 2rem;
}

.post1 .author{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}

.posts{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.posts h3{
    font-size: 0.875rem;
    font-weight: 550;
    margin: 0;
}

.posts p{
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0.5rem auto 0.5rem 0;
}

.post2{
    display: flex;
    gap: 1.5rem;
    font-family: Montserrat, sans-serif;
    align-items: center;
    padding: 2rem 1.5rem;
}

.post2:hover{
    background-color: #D8D8D8;
}

.post2 img{
    width: 35%;
    height: fit-content;
}

.rm{
    color: #71A4E0;
}

/*Courses*/
.course-section{
    background-color: #D8D8D8;
    padding: 2rem 4.5rem;
    margin: 0 auto;
}

.course-section h2{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.course{
    background-color: white;
    width: 30%;
    padding-bottom: 1rem;
}

.course img{
    width: 100%;
    margin-bottom: 1rem;
}

.course h4{
    margin: 0 1rem 0.5rem;
}

.course p{
    font-size: 0.75rem;
    font-weight: 200;
    margin: 0.5rem 1rem;
}